#root {
  /* max-width: 1280px; */
  margin: 0px;
  padding: 0px;
  /* padding: 2rem; */
  text-align: center;
  height: 100vh;
}

/* App.css */
.overlay-container {
  position: absolute;
  top: 10px;
  left: 50px;
  /* right: 10px; */
  z-index: 1000; /*Alta prioridade para ficar sobre o mapa*/
  background-color: rgba(255, 255, 255, 0.8); /* Transparência para ver o mapa por baixo */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: grab; /* Cursor de "mãozinha" */
  user-select: none; /* Evitar seleção de texto enquanto arrasta */
}

.overlay-container h1 {
  color: red;
  margin: 0;
  font-size: 24px;
}

.overlay-container button {
  margin-top: 10px;
}

